$white:#FFFFFF;
$black:#000000;
$dark_cyan:#0E8784;
$dark_grey_blue: #333D4B;
$second_grey_blue:#2C343E;
$pale_orange: #FDD6BA;
$light_cream_BG: #FEFCF7;
$grey: #83888F;
$skyblue: #66D2CF;
$light_grey: #E2DEDB;
$second_grey: #F4F1EB;